<!DOCTYPE html>
<html leng="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap itself -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!-- Responsive(mobile) -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Required Scripts -->
  <script type="text/javascript" src="/js/interface.js"></script>
  <title>Bruce's Water Challenge</title>
</head>

<body>
  <div class="container-fluid">
    <h1>The Water Puzzle</h1>
    <p>In the movie Die Hard 3, Bruce Willis is given this task:
    he has to figure out how to get exactly 4 litres of water in a beaker.
    He has a tap with running water, a 3 litre beaker and a 5 litre beaker.
    There is no shortage of water in the tap, but time is limited, so he needs to get to the answer in the minimum number of steps.</p>
  </div>
</body>

</html>
