<!DOCTYPE html>
<html leng="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap itself -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Responsive(mobile) -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Required Scripts -->
  <script type="text/javascript" src="/js/interface.js"></script>
  <script type="text/javascript" src="/js/Beaker.js"></script>
  <!-- <script type="text/javascript" src="/js/Countdown.js"></script> -->
  <script type="text/javascript" src="/js/Puzzle.js"></script>
  <!-- Custon Styles -->
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">

  <title>Bruce's Water Challenge</title>
</head>

<body class='background'>
  <div class="container-fluid">
    <h1>The Water Puzzle</h1>
    <br>
    <p>In the movie Die Hard 3, Bruce Willis is given this task: he has to figure out how to get exactly 4 litres of water in a beaker. He has a tap with running water, a 3 litre beaker and a 5 litre beaker.</p>
    <p>There is no shortage of water in the tap, but time is limited, so he needs to get to the answer in the minimum number of steps.</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <div id="timer">
        <div class="newdiv" id="minutes"></div>
        <div class="newdiv" id="seconds"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-4">
        <div>
          <img class="logo" src="/assets/water.png">
        </div>
        <br>
        <div id='beaker1volume' class='beaker-vol-label'>Beaker 1 Current Volume:</div>
      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="beaker1input">Beaker 1 Capacity:</label>
            <input class="form-control" id="beaker1input" type="text">
          </div>
          <div class="col-xs-4">
            <label for="beaker2input">Beaker 2 Capacity:</label>
            <input class="form-control" id="beaker2input" type="text">
          </div>
          <div class="col-xs-4">
            <label for="target-input">Volume to achieve:</label>
            <input class="form-control" id="target-input" type="text">
          </div>
        </div>
        <button type="button" class="btn btn-success btn-block" id='start-game'>Start Game</button>
        <div class="game-buttons">
          <h4>Beaker 1</h4>
          <div class="btn-group btn-group-justified">
            <a type="button" class="btn btn-primary" id='fill-1'>Fill</a>
            <a type="button" class="btn btn-primary" id='pour-into-2'>Pour</a>
            <a type="button" class="btn btn-primary" id='empty-1'>Empty</a>
          </div>
          <h4>Beaker 2</h4>
          <div class="btn-group btn-group-justified">
            <a type="button" class="btn btn-primary" id='fill-2'>Fill</a>
            <a type="button" class="btn btn-primary" id='pour-into-1'>Pour</a>
            <a type="button" class="btn btn-primary" id='empty-2'>Empty</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div>
          <img class="logo" src="/assets/water.png">
        </div>
        <br>
        <div id='beaker2volume' class='beaker-vol-label'>Beaker 2 Current Volume:</div>
      </div>

    </div>
  </div>
  <br>
  <br>
  <div class="col-xs-12">

  </div>
  <div class="acknowledgements">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a></div>

  <div id=winner class=winner style="text-align:center;">
    <br>
    <h5 class="beaker-vol-label">Congratulations!</h5>
    <br>
    <img class=logoplus src="assets/medal.png" alt="winner">
    <br>
    <p class="container-fluid">Refresh the page to play again.</p>
    <br>
    <p class="container-fluid">Challenge yourself and try a different combination of bucket size!!</p>
  </div>
</body>

</html>
