.game-buttons h4{
  text-align: center;
}

.col-xs-4 label{
  text-align: center;
}

.logo {
  height: 180px;
  width: 180px;
  display: block;
  margin: auto;
}

.beaker-info {
  text-align: justify;
}

.acknowledgements {
  text-align: center;
}

.beaker-vol-label {
  text-align: center;
}
